#nav_list {
    height: 8px;
  }
.nav-item a {
    text-decoration: none;
}

.card-body {
    background-color: white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.card-body:hover {
    background-color:#3498db;
    border: none;
    color: #d9e7f0;  
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: none;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  }

#cards {
    padding-top: 30px; 
}

.container {
    display: flex;
}

#cards1, #cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 15px;
}
.title {
    margin-top: 50PX;
    text-align: center;
    font-size: 40px;
    color: #1953dc;
    font-weight: 600px;
    font-family: "Poppins";
}

.card-text {
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 600;
    text-align: left;
}

.footer p{
    height: 8px;
}

@media (max-width: 975px) {
    #cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav-logo {
        width: 100px;
        height: auto;
      }
  }
  @media (max-width: 885px) {
    .nav-logo {
      width: 80px;
      height: auto;
      margin-bottom: 10px;
    }
}
  
@media (max-width: 765px){

    #cards1, #cards2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 260px;
        padding: 10px;
    }
}
 